@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

.Tab {
  display: flex;
  font-family: 'Heebo', sans-serif;
  vertical-align: middle;
  padding-top: 2px;

  h2 {
    font-size: .8em;
    margin: 0;
    padding: 5px;
  }

  button {
    font-size: .7em;
    border-radius: 50%;
    color: black;
    height: 5%; 
    padding: 2px 4px 0 4px;
    text-align: center;
    justify-content: baseline;    
    min-width: 15px;
    background: none;
    border: none;
  }
  
  button:hover {
    background-color: red;
    font-size: .5em;
    border-radius: 50%;
    border: none;
    color: white;
    height: 5%; 
    padding: 4px 4px 0 4px;
    text-align: center;
    justify-content: baseline;    
    min-width: 15px;
  }
  button:focus {
    outline: none;
  }
}